# 기상청 공공데이터포털 인증키
# 단기예보 조회서비스(getUltraSrtNcst, getUltraSrtFcst)와 중기예보 조회서비스(getMidFcst), 특보 조회에 사용합니다.
# 공공데이터포털에서 받은 일반 인증키(Encoding) 또는 Decoding 인증키를 넣으세요.
KMA_SERVICE_KEY=여기에_공공데이터포털_인증키를_입력하세요

# 기상특보 행정코드: 전남 여수시
WARNING_REG_ID=4613000000
WARNING_ROWS=100
WARNING_PAGE=1
WARNING_DATA_TYPE=XML

# 레이더 영상 조회서비스 인증키가 있으면 입력하세요. 현재 화면은 기상청 공개 레이더 이미지 후보도 함께 사용합니다.
RADAR_API_BASE=http://apis.data.go.kr/1360000/RadarImgInfoService
RADAR_SERVICE_KEY=
RADAR_DATA=CMP_WRC

# 외부 페이지 연결 주소
VITE_WARNING_URL=https://www.weather.go.kr/w/weather/warning/status.do
VITE_RADAR_MORE_URL=https://www.weather.go.kr/w/image/radar.do
VITE_FERRY_URL=https://island.haewoon.co.kr/
VITE_SAFETY_URL=https://www.weather.go.kr/w/special/safetyguide/heavy-rain.do
